<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vbqncc.tstock.tstock.mapper.WyStockMapper">

    <!--        行情市场-->
    <insert id="insertWyStock1" parameterType="com.vbqncc.tstock.tstock.entity.WyStock">
        insert into wy_stock (code,name,market,symbol)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.code},#{item.name},#{item.market},#{item.symbol})
        </foreach>
    </insert>

    <select id="selectAll" resultType="com.vbqncc.tstock.tstock.entity.WyStock">
        select * from wy_stock
    </select>

</mapper>
